<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.castle.castlelistview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mvs_icon"
        android:label="WifiDisplay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="WifiDisplay"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TagsActivity"
            android:label="@string/title_activity_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/title_activity_albums"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TracksActivity"
            android:label="@string/title_activity_tracks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MPlayerActivity"
            android:label="@string/title_activity_mplayer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
